/* home.css */

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80px;
    color: antiquewhite;
    font-size: x-large;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    background-image: url(../img/flat-mountain-landscape-wallpaper-2560x1920_27.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    flex-direction: column;
    color: rgb(235, 162, 113);
    width: 70%;
    border-radius: 20px;
    background : linear-gradient(to bottom, #171a1b, #373c3f);
    padding : 10px;
    align-items: center;
}

#Joueur, #leaderboard,form{
    display: flex;
    flex-direction: column;
    width: 80%;
    border-radius: 10px;
    background-color: rgb(121, 115, 115);
    margin: 10px;
    padding: 3%;
    align-items: center;
    text-align: center;
}

#newPlacement, #placementJoueur{
    width: 100%;
}


#leaderboard{
    margin: 50px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


#Joueur{
    font-size: x-large;
}

.rank {
    font-weight: bold;
    margin-right: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
    min-width: 75%;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

p {
    font-size: 18px;
    text-align: justify;
}


footer{
    width: 100%;
    background-color: black;
    font-size: 15px;
    color: antiquewhite;
    text-align: center;
    padding : 20px 0px;
}


#bouton_confirmer{
    margin-top: 30px;
    padding: 25px 30px;
    background-color: rgb(121, 115, 115);
    color: rgb(235, 162, 113);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    letter-spacing: 4px;
    overflow: hidden;
    transition: 0.5s;
    cursor: pointer;
    border: 2px solid rgb(235, 162, 113);
  }
  
  #bouton_confirmer:hover{
      background: rgb(235, 162, 113);
      color: rgb(121, 115, 115);
      box-shadow: 0 0 5px rgb(235, 162, 113),
                  0 0 25px rgb(235, 162, 113),
                  0 0 50px rgb(235, 162, 113);
       -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
  }

  .error {
    color: red;
  }
