{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Business Game</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <script src="{% static 'js/home.js' %}"></script>
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
  </head>
  <header>
    SIMULATION
  </header>
  <body>
    <main>
      <div id="Joueur">
        <h1>
          {{player.nom}}  ~  {{player.capital}} $
        </h1>
      </div>
      <div id="leaderboard">
        <h1>Leaderboard</h1>
        <ul>
                {% for joueur in joueurs %}
                <li><span class="rank">{{ forloop.counter }}</span>{{ joueur.nom }}<span class="score">{{ joueur.capital }} $</span></li>
                {% endfor %}
        </ul>      
      </div>
      
      <form name="formulaire" method="post" action="/simulation/" onSubmit="return checkform()">
        <div id="newPlacement">
          <h1>Liste des nouveaux placements</h1>
                {% csrf_token %}
          <ul>
            {% for entreprise in entreprises %}
            <li>
              <label for="nom">{{ entreprise.nom }}</label>
              <label for="cote">Cote:{{ entreprise.cote }}</label>
              <label for="argent">Argent:</label>
              <input name="E_{{ entreprise.idEntreprise }}" value="0">$</label>
            </li>
            {% endfor %}
          </ul>

        </div>

        <div id="placementJoueur"> 
          <h1>Vos placements</h1>
          <ul>
            {% for placement in placements %}
                  <li>
                    <span>Entreprise {{ placement.Entreprise.nom }}</span>
                    <span>Argent {{ placement.argent }}</span>
                    <label for="{{ forloop.counter }}">Supprimer</label>
                    <input type="checkbox" name="placement_{{ placement.Entreprise.idEntreprise }}" value="supprime">
                    <input type="hidden" name="placement_{{ placement.Entreprise.idEntreprise }}_val" value="{{ placement.argent }}"></input>
                  </li>
            {% endfor %}
          </ul>
        </div>

        <input type="hidden" name="playerCapital" value="{{player.capital}}">
        <input type="submit" value="confirmer" id="bouton_confirmer">
        
      </form>
      <div id="prevision">
        <!-- tableau avec "graph" -->
      </div>
      
    </main>
  </body>
  <footer>
    Clement PAYARD - Pierre BOUTERIGE <br>2023-2024
  </footer>
</html>
