{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Business Game</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <header>
    Pierre la grande dinde cacaproutproutsaucepamplemousse
  </header>
  <body>
    <main>
      <div id="Joueur">
	<!-- score et nom -->
      </div>
      <div id="prevision">
	<!-- tableau avec "graph" -->
      </div>
      <div id="leaderboard">
	<h1>Leaderboard</h1>
	<ul>
          {% for joueur in joueurs %}
          <li>{{ forloop.counter }} - Nom: {{ joueur.nom }} - Capital: {{ joueur.capital }}</li>
          {% endfor %}
	</ul>      
      </div>
      
      <form method="post" action="/simulation/">
	<div id="newPlacement">
	  <h1>Liste des nouveaux placements</h1>
          {% csrf_token %}
	  
	  {% for entreprise in entreprises %}
	  <div>
	    <input type="hidden" name="id_entreprise" value="{{ entreprise.idEntreprise }}">
	    <label for="nom">{{ entreprise.nom }}</label>
	    <label for="cote">Cote:{{ entreprise.cote }}</label>
	    <label for="argent">Argent:</label>
	    <input name="{{ entreprise.idEntreprise }}" value="0">$</label>
	  </div>
	  {% endfor %}

	</div>

	<div id="placementJoueur">
	  <h1>Vos placements</h1>
	  <ul>
	    {% for placement in placements %}
            <li>
	      Entreprise {{ placement.Entreprise.nom }}
	      Argent {{ placement.argent }}
              <label for="{{ forloop.counter }}">Supprimer</label>
              <input type="checkbox" name="placement_{{ placement.Entreprise.idEntreprise }}" value="supprime">
            </li>
	    {% endfor %}
	  </ul>
	</div>

	<input type="submit" value="Soumettre">
	
      </form>
      
    </main>
  </body>
  <footer>
    Clement PAYARD - Pierre BOUTERIGE <br>2023-2024
  </footer>
</html>
