{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Business Game</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <script src="{% static 'js/home.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
  </head>
  <header>
    SIMULATION
  </header>
  <body>
    <main>
      <div id="Joueur">
        <h1>
          {{player.nom}}<br>Capital : {{player.capital}}$ <br> Fond disponible : {{player.fond_disponible}}$
        </h1>
      </div>
      <div id="leaderboard">
        <h1>Leaderboard</h1>
        <ul>
            {% for joueur in joueurs %}
            <li>
                <div class="item">
                    <span class="rank">{{ forloop.counter }}</span>
                </div>
                <div class="item">
                    <span>{{ joueur.nom }}</span>
                </div>
                <div class="item">
                    <span class="score">{{ joueur.capital }} $</span>
                </div>
            </li>
            {% endfor %}
        </ul>      
      </div>
      <div id="prevision">
        <!-- tableau avec "graph" -->
        <script>
          var cours_boursier_data = {{ cours_boursier_data|safe }};
        </script>
        <div id="menu_entreprise_prevision" >
          {% for entreprise in entreprises %}
            <button class="tablinks" onclick="openTab(event, 'Entreprise{{ forloop.counter }}')">{{ entreprise.nom }}</button>
          {% endfor %}
        </div>

        {% for entreprise in entreprises %}
          <div id="Entreprise{{ forloop.counter }}" class="tabcontent">
            <h2>{{ entreprise.nom }}</h2>
            <img src="{% static 'img/'|add:entreprise.nom|add:'.png' %}" alt="{{ entreprise.nom }} Logo">
            <p>{{ entreprise.description }}</p>
            <p>Cote : {{ entreprise.cote }}</p>
            <p>Valeur en bourse : {{ entreprise.valeurBourse }}</p>
            <h2>Évolution en Bourse</h2>
            <div class="graph-container" id="chart-container-{{ entreprise.idEntreprise }}">
                <canvas id="myChart-{{ entreprise.idEntreprise }}"></canvas>
            </div>
            {% if entreprise.event != 'none' %}
              <p>Événement : {{ entreprise.event }}</p>
            {% endif %}
          </div>
        {% endfor %}
      </div>
      <form name="formulaire" method="post" action="/simulation/" onSubmit="return checkform()">
        <div id="newPlacement">
          <h1>Liste des nouveaux placements</h1>
          <ul>
              {% csrf_token %}
              {% for entreprise in entreprises %}
              <li>
                  <div class="item">
                      <label for="nom">{{ entreprise.nom }}</label>
                  </div>
                  <div class="item">
                      <label for="cote">Cote:{{ entreprise.cote }}%</label>
                  </div>
                  <div class="item">
                      <label for="argent">Argent:</label>
                      <input name="E_{{ entreprise.idEntreprise }}" value="0">$</label>
                  </div>
              </li>
              {% endfor %}
          </ul>
        </div>
        <div id="placementJoueur"> 
          <h1>Vos placements</h1>
          <ul>
              {% for placement in placements %}
                  <li>
                      <div class="item">
                          <span>Entreprise {{ placement.entreprise.nom }}</span>
                      </div>
                      <div class="item">
                          <span>Argent {{ placement.argent }}</span>
                      </div>
                      <div class="item">
                          <label for="{{ forloop.counter }}">Supprimer</label>
                          <input type="checkbox" name="placement_{{ placement.entreprise.idEntreprise }}" value="supprime">
                      </div>
                      <input type="hidden" name="placement_{{ placement.entreprise.idEntreprise }}_val" value="{{ placement.argent }}"></input>
                  </li>
              {% endfor %}
          </ul>
        </div>
        <input type="hidden" name="playerFond" value="{{player.fond_disponible}}">
        <input type="submit" value="confirmer" id="bouton_confirmer">
        
      </form>
    </main>
  </body>
  <footer>
    Clement PAYARD - Pierre BOUTERIGE <br>2023-2024
  </footer>
</html>
