{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Business Game</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/index.js' %}"></script>
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
</head>
<header>
    Business Game Simulation
</header>
<body>
    <main>
        <h1>Qu'est ce qu'un Business Game</h1>
        <p>
            Un Business Game, également connu sous le nom de jeu d'entreprise ou jeu de gestion, est une simulation éducative et interactive qui permet aux participants de prendre des décisions commerciales dans un environnement virtuel ou simulé. Ces jeux sont conçus pour reproduire des scénarios réalistes de gestion d'entreprise, ce qui permet aux étudiants, aux professionnels et aux apprenants de développer leurs compétences en matière de prise de décision, de gestion, de stratégie et de résolution de problèmes.
        </p>
        <p>
            Dans un Business Game, les participants sont souvent placés dans des rôles de gestionnaires ou de dirigeants d'entreprise, et ils doivent gérer divers aspects d'une entreprise, tels que la production, le marketing, les finances, les ressources humaines et la prise de décisions stratégiques. Les résultats des décisions sont généralement mesurés en termes de performance financière, de part de marché et d'autres indicateurs clés de performance.
        </p>
        <p>
            Ces jeux sont utilisés à des fins éducatives, de formation et de développement professionnel, offrant aux participants une expérience pratique de la gestion d'entreprise sans risquer de pertes financières réelles. Ils sont largement utilisés dans les écoles de commerce, les programmes de formation en entreprise et les ateliers de développement des compétences pour aider les individus à acquérir une meilleure compréhension du monde des affaires et à perfectionner leurs compétences en gestion.
        </p>
        <h1>Accès au jeu</h1>
        <form name="inscription" method="post" action="creer-nouveau-joueur/" onSubmit="return checkform()">
	  {% csrf_token %}
            <label for="Name" id="NamePlayer">Nom du joueur:</label>
            <br>
            <input type="text" id="NamePlayer" name="Name" required>
            <span id="erreurNom" class="error"></span> 
            <br>
            <label for="Capital" id="CapitalPlayer">Capital de départ:</label>
            <br>
            <input type="text" id="CapitalPlayer" name="Capital" required>
            <span id="erreurCapital" class="error"></span>
            <br>
            <button type="submit">Jouer</button>
        </form>
        <h1>Pourquoi ce projet</h1>
        <p>
            Le projet ISIMA ZZ2 F3 en Architectures Logicielles et Qualité nous offre l'opportunité d'explorer le monde du développement logiciel et de la gestion de projet. En tant qu'étudiants en F3, nous avons le défi stimulant de concevoir et de développer un petit logiciel en utilisant des principes d'architecture logicielle et de qualité.
        </p>
        <p>
            Ce projet nous offre une flexibilité exceptionnelle pour choisir le domaine de notre logiciel, que ce soit la simulation multi-agents orientée vers les négociations et les échanges socio-économiques ou la Business Intelligence. Nous avons également la liberté de sélectionner le langage de programmation et l'environnement de développement qui correspondent à nos préférences et à nos objectifs professionnels.
        </p>
        <p>
            La réalisation de ce projet est une opportunité d'apprentissage précieuse, nous permettant de développer nos compétences en génie logiciel, de maîtriser les outils de gestion de projet, et de renforcer notre compréhension des principes d'architecture logicielle et de qualité.
        </p>
        <p>
            Nous abordons ce projet avec enthousiasme, conscients de son importance dans notre formation. Notre objectif est de respecter les délais, de produire une documentation complète et un code de qualité, et de présenter un projet qui témoigne de notre engagement envers l'excellence dans le domaine du génie logiciel et de la qualité.
        </p>
    </main>
</body>
<footer>
    Clement PAYARD - Pierre BOUTERIGE <br>2023-2024
</footer>
</html>
