{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Business Game</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<header>
    Clement la grande dinde
</header>
<body>
    <main>
        <h1>Pourquoi clement est une grande dinde</h1>
        <p>
            Clément est indéniablement l'une des personnes les plus uniques et originales que nous ayons la chance de connaître. On dit souvent que la grandeur d'une personne réside dans sa capacité à apporter un sourire aux visages de ceux qui l'entourent, et c'est précisément là que Clément excelle. En tant qu'ami, il a cette incroyable capacité à nous surprendre par ses actions souvent inattendues, nous laissant à chaque fois étonnés. Sa grande originalité se traduit parfois par des décisions curieuses, des choix de vêtements excentriques, ou des commentaires hilarants qui nous font éclater de rire. Bref, Clément est une grande dinde d'une manière qui n'appartient qu'à lui, mais c'est ce qui fait de lui une personne exceptionnelle et inoubliable. Nous sommes reconnaissants de l'avoir dans nos vies pour nous rappeler de ne jamais prendre les choses trop au sérieux et de toujours apprécier la magie de l'inattendu.
        </p>
    </main>
</body>
<footer>
    Clement PAYARD - Pierre BOUTERIGE <br>2023-2024
</footer>
</html>
